/*UO264817 - Francisco Diaz-Pache Alonso*/

/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #818181;
    background-color: #ffffff;
}

/**/
nav a{
    color: #88dd44
}

/*Especificidad: 001*/
header {
    color: #ffffff;
    background-color: #8844AA;
    text-transform: uppercase;
    padding: 2em;
    text-align: center;
}

/* Especificidad: 012*/
ul li:nth-of-type(3) {
    color: #4488aa
}