/*
Francisco Díaz-Pache - UO264817
Hoja de estilos base
*/

/* Especificidad = 1 */
h1 {
  font-size: xx-large;
  text-align: center;
  color: #3a6d9c;
  background-color: #ffffff00;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

/* Especificidad = 1 */
h2 {
  font-size: x-large;
  color: rgb(70, 70, 0);
  background-color: #ffffff00;
  text-align: left;
  font-family: Verdana, sans-serif;
}

/* Especificidad = 1 */
h3 {
  font-size: large;
  color: rgb(50, 50, 0);
  background-color: #ffffff00;
  text-align: left;
  font-family: Tahoma, sans-serif;
}

/* Especificidad = 1 */
p {
  line-height: 2;
  font-size: medium;
}

/* Especificidad = 1 */
html {
  background-color: coral;
}

/* Especificidad = 1 */
body {
  margin: 2%;
  background-color: white;
  color: black;
  font-family: Tahoma, sans-serif;
}

/* Especificidad = 1 */
table {
  margin: 2%;
  text-align: center;
  background-color: gray;
}

/* Especificidad = 1 */
tr,
td,
th {
  width: 25%;
  text-align: center;
  color: black;
  background-color: lightblue;
}

/* Especificidad = 1 */
ul,
li {
  list-style-position: inside;
  list-style-type: circle;
  padding: 0% 3%;
  color: black;
  text-align: left;
  font-size: small;
}

/* Especificidad = 1 */
form {
  margin: 2%;
  text-align: left;
  width: fit-content;
}

/* Especificidad = 1 */
a {
  color: #004CA3;
  background-color: white;
}