/*
Francisco Díaz-Pache - UO264817
Descripción de los estilos
*/
header{
    font-family: Tahoma, sans-serif;
	color: #000000;
	background-color: rgb(217, 255, 195);
}
footer{
    font-family: Tahoma, sans-serif;
	color: #ffffff;
	background-color: rgb(76, 93, 107);
}
section{
    font-family: Tahoma, sans-serif;
	color: #777777;
	background-color: rgb(255, 206, 206);
}
nav{
    border: 1px solid #000;
    margin: 1%;
}