/*1*/
figure {
	float: left;
	padding: 5px;
	text-align: center;
}
/*1*/
body {
	text-align: center;
}
/*1*/
header {
	text-align: center;
}
/*1*/	
h1 {
	text-align: center; 
}
/*1*/
h2 {
	text-align: left; 
}
/*1*/
h3 {
	text-align: center; 
}
/*1*/
section {	
	text-align: center;
}
/*1*/
table {
	text-align: center;
}
/*1*/
th, td {
	text-align: center;
}
/*1*/
ul {
	text-align: center;
}
/*11*/
.topnav a {
	text-align: center;
}
/*1*/
footer{
	text-align: right;
}