/*UO264817 - Francisco Diaz-Pache Alonso*/

/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #818181;
  background-color: #ffffff;
}

/*Especificidad: 001*/
h1 {
  color: #ffffff;
  background-color: #8844AA;
  text-transform: uppercase;
  padding: 2em;
  text-align: center;
}